@page "/lighting"
@inject HttpClient Http
@inject IJSRuntime JS
@using HomeAutomation.Shared

<h1>Lighting</h1>

@if (this.loaded)
{
    <div style="margin: 10px">
        <p>Lighting is @this.state</p>
    </div>

    <div style="margin: 10px">
        <p>Next lighting state change: @this.upcomingStateChanges.FirstChange.NewState
            at @this.ConvertToLocalTime(this.upcomingStateChanges.FirstChange.Timestamp)</p>

        <p>Next solar event: @this.upcomingStateChanges.FirstChange.SolarEvent.Type
            at @this.ConvertToLocalTime(this.upcomingStateChanges.FirstChange.SolarEvent.Timestamp)</p>
    </div>

    <div style="margin: 10px">
        <p>Next next lighting state change: @this.upcomingStateChanges.SecondChange.NewState at
            @this.ConvertToLocalTime(this.upcomingStateChanges.SecondChange.Timestamp)</p>

        <p>Next next solar event: @this.upcomingStateChanges.SecondChange.SolarEvent.Type at
            @this.ConvertToLocalTime(this.upcomingStateChanges.SecondChange.SolarEvent.Timestamp)</p>
    </div>
}
else
{
<p>Loading...</p>
}

@code {
    private int timezoneOffset;
    private State state;
    private UpcomingLightingStateChanges upcomingStateChanges;
    private bool loaded = false;

    protected override async Task OnInitializedAsync()
    {
        this.timezoneOffset = await JS.InvokeAsync<int>("getClientTimezoneOffset");

        this.state = await Http.GetFromJsonAsync<State>("/api/lighting/getState");
        this.upcomingStateChanges = await Http.GetFromJsonAsync<UpcomingLightingStateChanges>("/api/lighting/getUpcomingStateChanges");
        this.loaded = true;
    }

    private DateTime ConvertToLocalTime(DateTime dateTime)
    {
        return dateTime.Add(TimeSpan.FromMinutes(-this.timezoneOffset));
    }
}
